# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\garroakion\Desktop\ProyectosCompu\PooProject\.idea/dataSources/
/dataSources.local.xml
/httpRequests/
